body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  font-size: 16px;
  text-transform: capitalize;
  background-color: #f6d464;
  color: grey;
  list-style: none;
  text-decoration: none;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

.switch {
  color: #000;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: #000;
}
